.talsecLogo {
  margin: 3rem 2rem 1rem 2rem;
}

ion-label {
  font-weight: 600;
}

.content-padding {
  margin: 1rem;
}

.checkDescription {
  height: 0.5rem;
  font-size: 0.9rem;
  padding: 0 0 0.2rem 0;
  margin: 0 0 0.5rem 0;
  color: rgb(144, 144, 144);
}

.button {
  max-width: 100%;
}

.features-button {
  max-width: 45%;
  height: 3rem;
  white-space: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
